/*RESETS GENERALES*/
* {
    margin: 0px;
    border: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*FIN DE RESETS GENERALES*/

/*BARRA DE NAVEGACIÓN*/
.nav-barra {
    background-color: rgb(117, 9, 9);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 3rem;
}

.nav-barra-links {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    list-style: none;
}

.nav-barra-links a {
    text-decoration: none;
    font-weight: 700;
    color: #000;
}

.nav-barra-links a:hover {
    padding: 2 rem;
    background-color: rgb(250, 95, 24);
}

/*FIN DE BARRA DE NAVEGACIÓN*/

/*Inicio de la hero-section*/
.herosection {
    background-image: url(../multimedia/render.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    row-gap: 5rem;
    align-items: center;
    font-size: 3rem;
    padding-top: 20rem;
    padding-bottom: 20rem;
    padding-left: 10rem;
    padding-right: 10rem;
    color: rgb(170, 168, 32);
}

.herosection .herosection-text {
    font-size: 2rem;
    font-style:oblique;

}

.herosection .herosection-link {
    text-align:center;
    color: #000;
    opacity: 0.8;
    text-decoration: none;
    padding: 1rem;
    background-color: rgb(226, 43, 43);
}

.herosection .herosection-link:hover{
    opacity: 1;
    background-color: rgb(206, 15, 15);
}
/*FIN de la hero-section*/

/*INICIO DE PIECITO*/
.piecito {
    background-color: #000;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    padding: 2rem;
    color: rgb(230, 79, 79);
    font-size: 1.8rem;
}

.piecito-links ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.piecito-links ul li a {
    color: rgba(241, 38, 38, 0.993);
    text-decoration: none;
    font-size: 2rem;

}

/*FIN DE PIECITO*/

/*CONTENIDO DE CONTACTO*/
/*FORMULARIO*/
.contacto {
    display: flex;
    flex-direction: row;
    gap: 35rem;
    justify-content: space-between;
}

.fomCon {
    background-color: rgb(212, 26, 26);
    padding: 5rem;
    font-size: 2rem;
    color: #000;
}
/*Fin del contenido de contacto*/

/* CONTENIDO DE NOSOTROS */
/* INICIO DE HEROSECTION-NOSOTROS*/
.herosection-nosotros{
    background-image: url(../multimedia/render.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    row-gap: 3rem;
    align-items: center;
    font-size: 3rem;
    padding-top: 20rem;
    padding-bottom: 20rem;
    padding-left: 5rem;
    padding-right: 5rem;
    color: rgb(255, 252, 53);
}
/* FIN DE HEROSECTION-NOSOTROS */


/* INICIO DE TIENDA */
/* INICIO DE CONTAINER-ARTICULOS */
.section-store {
    background-image: url(../multimedia/render.jpg);
    background-size: cover;
    background-position: center;
    font-size: 1.6rem;
    padding: 5rem;
    color: rgb(108, 255, 115);
}

.container-articulos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.articulo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-items: center;
}

.img-art img {
    width: 90%;
}

.art-description {
    display: block;
}

.btn-art {
    background-color: #fff000;
    border-radius: 12px;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
    transition: 200ms;
    width: 100%;
    box-sizing: border-box;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btn-art:hover {
    outline: 0;
    background: #fdf899;
    box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.btn-art:focus {
    background-color: #978f22;
}

